.body {
  width: 100%;
}

.hjelpetekst {
  width: 600px;
}

.firstCol {
  width: 30%;
}

.secCol {
  width: 25%;
}

.thirdCol {
  width: 25%;
}

.fourthCol {
  width: 20%;
}

.topPadding {
  padding-top: 2px;
}

.image {
  margin-top: -15px;
}

.hjelpetekstInnhold {
  background-color: #d8f9ff;
  border: 1px solid #66cbec;
}

.exclamationmarkIcon {
  color: var(--a-orange-600);
  height: 30px;
  margin-top: 5px;
  width: 30px;
}

.checkmarkIcon {
  color: var(--a-green-500);
  height: 30px;
  margin-top: 5px;
  width: 30px;
}
