.ikon {
  padding-left: 12px;
}

.colTopPadding {
  padding-top: 24px;
}

.imageColTopPadding {
  padding-top: 27px;
}

.exclamationmarkIcon {
  color: var(--a-orange-600);
  height: 30px;
  margin-top: 5px;
  width: 30px;
}

.checkmarkIcon {
  color: var(--a-green-500);
  height: 30px;
  margin-top: 5px;
  width: 30px;
}
