.panel {
  background-color: var(--ax-neutral-200);
  padding: 10px;
}

.panelOpen {
  background-color: var(--ax-neutral-100);
  margin-bottom: -16px;
  margin-left: -7px;
  margin-right: -7px;
  margin-top: -16px;
  padding: 16px;
}

.panelOpenAp {
  background-color: var(--ax-neutral-100);
  border-left: 4px solid var(--ax-warning-500);
  margin-bottom: -16px;
  margin-left: -10px;
  margin-right: -7px;
  margin-top: -16px;
  padding: 16px;
}

.headerRow {
  background-color: var(--ax-neutral-200);
}

.row {
  cursor: pointer;
}

.isOpen {
  background-color: var(--ax-neutral-100);
}

.isApOpen {
  border-left: 4px solid var(--ax-warning-500);
}
