@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.prosesspunkt {
  background-color: @white;
  border-top: 1px solid @navGra60;
  box-shadow: -4px 1px 6px 1px rgba(0, 0, 0, 0.23);
  position: relative;
  width: 100%;

  &.visAksjonspunkt,

  &.visAksjonspunkt {
    border-left-color: @navOransjeLighten20;
  }

  &:empty {
    border: 0;
    margin-top: 0;
  }
}
