.steg {
  background-color: var(--ax-bg-default);
  border-top: 1px solid var(--panel-border-color);
  box-shadow: -4px 1px 6px 1px var(--panel-border-color);
  position: relative;
  width: 100%;
}

.steg.skalSkjulePanel {
  display: none;
}
