.panel {
  background-color: var(--ax-neutral-200);
  padding: 10px;
}

.panelOpen {
  background-color: var(--ax-neutral-100);
  margin-bottom: -16px;
  margin-left: -7px;
  margin-right: -7px;
  margin-top: -16px;
  padding: 16px;
}

.headerRow {
  background-color: var(--ax-neutral-200);
}

.row {
  --ac-table-row-hover: var(--ax-neutral-300);
  cursor: pointer;
}

.isOpen {
  background-color: var(--ax-neutral-100);
}
