.table {
  thead th {
    background-color: var(--ax-neutral-100);
  }

  tbody tr:has(+ tr[data-state='open']) td,
  tbody tr[data-state='open'] td {
    background-color: var(--ax-neutral-100);
  }
}
