.boks {
  border-bottom: solid 1px var(--ax-neutral-300);
  padding-bottom: 40px;
  padding-left: 30px;
  padding-top: 20px;
}

.harBorderLeft {
  border-left: solid 5px var(--ax-warning-500);
}

.harBorderTop {
  border-top: solid 1px var(--ax-neutral-300);
}
