.row {
  --ac-table-row-hover: var(--a-surface-neutral-moderate);

  cursor: pointer;
}

.openRow {
  --ac-table-row-hover: var(--a-surface-neutral-moderate);

  background-color: var(--a-surface-neutral-moderate);
  cursor: pointer;
}

.apRow {
  --ac-table-row-hover: var(--a-orange-100);

  background-color: var(--a-orange-100);
  cursor: pointer;
}
