.openRow,
.openRow + tr[data-state='open'] {
  background-color: var(--ax-bg-neutral-softA);
}

.apRow,
.apRow + tr[data-state='open'] {
  background-color: var(--ax-bg-neutral-softA);

  > td:first-child {
    border-left: 4px solid var(--ax-border-warning);
  }
}
