.pil {
  margin-left: 5px;
}

.blyant {
  margin-right: 5px;
}

.blyantDisablet {
  color: var(--ax-neutral-200);
  height: 20px;
  margin-right: 5px;
  width: 20px;
}

.status {
  height: 20px;
  width: 20px;
}

.innvilgetImage {
  color: var(--ax-bg-success-strong);
  height: 25px;
  width: 25px;
}

.avslattImage {
  color: var(--ax-danger-600);
  height: 25px;
  width: 25px;
}

.disabletLink {
  color: var(--ax-neutral-200);
  display: inline;
}

.space {
  margin-right: 50px;
}

.alert {
  max-width: 500px;
}
