version: 2
registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{secrets.READER_TOKEN}}

updates:
  - package-ecosystem: npm
    directory: '/'
    registries:
      - npm-github
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    groups:
      patch-and-minor:
        patterns:
          - '*'
        update-types:
          - 'patch'
          - 'minor'
        exclude-patterns:
          - 'react'
          - 'react-dom'
          - '@types/react'
          - '@navikt*'
      react:
        patterns:
          - 'react'
          - 'react-dom'
          - '@types/react'
      designsystem:
        patterns:
          - '@navikt/aksel-*'
          - '@navikt/ds-*'
      ft-frontend-saksbehandling:
        patterns:
          - '@navikt/ft-*'

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    groups:
      github:
        patterns:
          - '*'
