.checkboxCol {
  width: 30px;
}

.linkCol {
  width: 250px;
}

.imageInn {
  color: var(--ax-bg-success-strong);
  height: 30px;
  margin-left: 10px;
  width: 30px;
}

.imageSend {
  color: var(--ax-warning-600);
  height: 30px;
  margin-left: 10px;
  width: 30px;
}
.imageIntern {
  color: var(--ax-accent-500);
  height: 30px;
  margin-left: 10px;
  width: 30px;
}

.noDocuments {
  background-color: var(--ax-bg-default);
  margin-top: -15px;
  padding: 12px;
}

.hidden {
  visibility: hidden;
}

.table {
  width: 610px;
}
