.iconBackground {
  background-color: var(--ax-bg-neutral-moderate-hoverA);
  border-radius: 9999px;
  height: 30px;
  padding-left: 3px;
  padding-top: 3px;
  width: 30px;
}

.ingenBehandlinger {
  height: 100px;
  padding-left: 40px;
}

.pointerIcon {
  color: var(--ax-text-accent-decoration);
  cursor: pointer;
  height: 30px;
  margin-bottom: -5px;
  margin-top: -5px;
  width: 30px;
}

.clockIcon {
  color: var(--ax-text-neutral-subtle);
  height: 25px;
  width: 25px;
}
