.container {
  padding-right: 15px;
}

.godkjentImage {
  color: var(--a-surface-success);
  height: 20px;
  width: 20px;
}

.avslattImage {
  color: var(--a-red-300);
  height: 20px;
  width: 20px;
}

.selectBredde {
  width: 400px;
}
