@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.boks {
  border-bottom: solid 1px @navGra40;
  border-left: solid 5px @navOransjeLighten20;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-top: 20px;
}

.harBorderTop {
  border-top: solid 1px @navGra40;
}
