.hjelpetekst {
  width: 600px;
}

.alertStripe {
  max-width: 50rem;
}

.hjelpetekstInnhold {
  background-color: var(--ax-bg-accent-moderate);
  border: 1px solid var(--ax-bg-accent-strong);
}

.svg {
  color: var(--ax-accent-500);
  height: 25px;
  margin-top: -5px;
  width: 25px;
}
