.remainingUttak {
  background-color: #f1f1f1;
  height: auto;
  max-width: 700px;
  min-width: 500px;
  padding: 10px 20px 10px;
  top: 0;
}

.remainingUttakArbeidsgiver {
  background-color: #f1f1f1;
  padding: 20px;
  position: relative;
  width: 100%;
}

.remainingUttakKvote {
  padding-top: 8px;
}

.timeLineInfoContainer {
  margin-bottom: 70px;
}

.arbeidsgiverContainer {
  margin-left: 12px;
  margin-right: -16px;
  margin-top: -20px;
}

.tabs {
  ul {
    align-items: flex-end;
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;

    li {
      &:hover {
        background-color: #fff;
      }
    }
  }
}

.visKonto {
  background: #fff;
  border-radius: 4px;
  margin-top: -5px;
  padding: 10px;

  td:first-child {
    width: 80%;
  }
}
