.container {
  background-color: var(--a-white);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.gosysLink {
  padding: 12px;
}

.oppgaveKolonne {
  width: 50%;
}

.pdfKolonne {
  width: 50%;
}

.gosysLink {
  padding: 12px;
}

.saksliste {
  width: 50%;
}

.brukerRad {
  display: flex;
}

.brukerBilde {
  padding-top: 8px;
}

.avsenderBilde {
  height: 32px;
  width: 32px;
}

.linkTekst {
  margin-top: 44px;
}

.nesteIkon {
  color: var(--a-blue-600);
  height: 32px;
  width: 32px;
}

.brukerAvsenderTittel {
  width: 20%;
}

.brukerAvsenderIkon {
  width: 3%;
}

.brukerAvsenderInnhold {
  width: 17%;
}

.oppgaverTabell {
  margin: auto;
  width: 100%;
}

.dokumentRad {
  background-color: var(--a-blue-50);
  padding: 16px;
  width: 50%;
}

.dokumentTittel {
  padding-top: 10px;
  width: 90%;
}

.newTabIcon {
  color: var(--a-blue-600);
  height: 32px;
  width: 32px;
}
