@import '@{coreModulePath}@fpsak-frontend/assets/styles/global.less';

.container {
  background-color: var(--a-white);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.gosysLink {
  padding: 12px;
}
