@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.column {
  border-bottom: 1px solid #C4C4C4;
}

.rowHeader {
  cursor: default;
  font-weight: 600;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.grayHeader {
  background-color: @navLysGra;
}

.rowContent {
  cursor: pointer;
}

.selected {
  background-color: #f5f5f5;
  cursor: default;
}

.bold {
  font-weight: bold;
}

.dashedBottomBorder {
  border-bottom: dashed 1px @navGra40;
}

.solidBottomBorder {
  border-bottom: solid 1px @navGra40;
}

.apLeftBorder {
  border-left: solid 5px @navOransjeLighten20;
}

.noBottomBorder {
  border-bottom: dashed 0;
}
