@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.steg {
  background-color: @white;
  border-top: 1px solid @navGra60;
  box-shadow: -4px 1px 6px 1px rgba(0, 0, 0, 0.23);
  position: relative;
  width: 100%;
}
