@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.utbetalingTabell > tbody > tr > td {
  padding: 0;
  padding-bottom: 8px;
}

.utbetalingTabell > tbody > tr:first-child td {
  border-bottom: none;
  border-top: none;
}

.utbetalingTabell {
  border-bottom: none;
  margin-bottom: 0;
}
