.container {
  background-color: var(--ax-bg-danger-strong);
  color: var(--ax-text-danger-contrast);
  display: block;
  max-height: 120px;
  min-height: 53px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-block: 8px;
  padding-inline: 40px;
  position: relative;
}

.link {
  color: var(--ax-text-danger-contrast);
}

.wordWrap {
  white-space: pre-line;
}

.list {
  list-style: disc;
  margin-inline: var(--ax-space-20);
}

.stacktrace {
  font-size: 0.75rem;
}
