.gridContainer {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
}

.leftColumn {
  float: left;
  overflow: hidden;
  width: 67%;
}

.rightColumn {
  background-color: var(--ax-bg-neutral-soft);
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  width: 33%;
}

.rightColumn > div {
  margin-bottom: 16px;
}

.sokContainer {
  padding: 16px;
}

@media all and (max-width: 1350px) {
  .leftColumn {
    width: 100%;
  }

  .rightColumn {
    margin-left: 0;
    width: 100%;
  }
}

@media all and (min-width: 1350px) {
  .rightColumn {
    border-left: 1px solid var(--ax-neutral-400);
  }

  :global(.dark) .rightColumn {
    border-left: 1px solid var(--ax-neutral-700);
  }
}

@media all and (max-width: 1350px) {
  .rightColumn {
    border-top: 1px solid var(--ax-neutral-400);
    margin-top: 40px;
  }

  :global(.dark) .rightColumn {
    border-top-color: 1px solid var(--ax-neutral-700);
  }
}
