.buttonRow {
  margin-top: 16px;

  > :not(:first-child) {
    margin-left: 15px;
  }
}

.buttonLink {
  background: none;
  border: 0;
  color: var(--navds-global-color-blue-500);
  cursor: pointer;
  font: inherit;
  padding: 0;
}
