.header {
  background-color: var(--ax-neutral-100);
  border-bottom: solid var(--ax-neutral-400) 2px;
  padding: 20px;
}

.circle {
  background: var(--ax-neutral-400);
  border-radius: 50%;
  color: var(--ax-text-accent-contrast);
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 25px;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}
