.behandlingCircleIngen {
  color: var(--a-border-subtle);
}

.behandlingCircleDenne {
  color: var(--a-green-400);
}

.behandlingCircleAndre {
  color: var(--a-border-subtle);
}

.container {
  background: rgba(18, 43, 68, 0.08);
  border-radius: var(--a-border-radius-medium);
  margin-left: calc(var(--a-spacing-12) * -1);
  padding: var(--a-spacing-6) var(--a-spacing-4);
}

.ingenInntektsmeldinger {
  color: var(--a-text-subtle);

  svg {
    height: 24px;
    width: 24px;
  }
}

ul {
  margin: 0;
}
