.removeImage {
  cursor: pointer;
  padding: 5px;
}
.calendarToggleButton {
  background: transparent;
  border: 1px solid transparent;
  box-sizing: content-box;
  cursor: pointer;
  display: inline-block;
  height: 22px;
  left: 0;
  margin: 0;
  top: 0;
  width: 22px;
}
.calendarToggleButton:after {
  content: url('../../images/kalender.svg');
}
.calendarToggleButton:hover, .calendarToggleButton:focus {
  border-color: transparent;
  box-shadow: none;
  outline: none;
}
.calendarToggleButton:hover:after, .calendarToggleButton:focus:after {
  content: url('../../images/kalender_hover.svg');
}
.calendarToggleButton:disabled {
  background: transparent;
  border-color: transparent;
  cursor: initial;
}
.calendarToggleButton:disabled:after {
  content: url('../../images/kalender_disabled.svg');
}
