.removeIcon {
  color: var(--a-red-400);
  cursor: pointer;
  height: 25px;
  width: 25px;
}
.calendarIcon {
  color: var(--a-blue-600);
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.flyttIcon {
  color: var(--a-blue-600);
  cursor: pointer;
  height: 25px;
  width: 25px;
}
