.disponibeltUttak {
  background-color: var(--ax-bg-default);
  height: auto;
  max-width: 700px;
  min-width: 500px;
  padding: 10px 20px 10px;
  top: 0;
}
.tabs ul {
  align-items: flex-end;
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}
.tabs ul li:hover {
  background-color: var(--ax-bg-default);
}
.visKonto {
  background: var(--ax-bg-default);
  border-radius: 4px;
  margin-top: -5px;
  padding: 10px;
}
.visKonto td:first-child {
  width: 80%;
}
