.nullstillCss {
  all: unset;
}

.papir {
  background: white;
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);
  display: block;
  margin: 20px auto 20px;
  padding-bottom: 50px;
}

.ikkeRedigerbartInnhold {
  margin: 0 auto;
  max-width: 650px;
}

.redigerbartInnhold {
  border-left: 15px solid var(--a-orange-300);
  border-right: 15px solid var(--a-orange-300);
  box-sizing: content-box;
  margin: 0 -38px;
  min-width: 766px;
}
