.aksjonspunktMargin {
  margin-left: -20px;
}

.godkjentImage {
  color: var(--ax-text-success-decoration);
  height: 25px;
  width: 25px;
}

.avslattImage {
  color: var(--ax-text-danger-decoration);
  height: 25px;
  width: 25px;
}
