.godkjentImage {
  color: var(--ax-bg-success-strong);
  display: inline;
  height: 20px;
  margin-right: 8px;
  vertical-align: text-top;
  width: 20px;
}

.avslattImage {
  color: var(--ax-danger-500);
  display: inline;
  height: 20px;
  margin-right: 8px;
  vertical-align: text-top;
  width: 20px;
}

.selectBredde {
  width: 400px;
}
