.godkjentImage {
    color: var(--ax-bg-success-strong);
    height: 20px;
    margin-right: 8px;
    vertical-align: text-top;
    width: 20px;
}

.avslattImage {
    color: var(--ax-danger-500);
    height: 20px;
    margin-right: 8px;
    vertical-align: text-top;
    width: 20px;
}

.selectBredde {
    width: 400px;
}
