.fomDato {
  margin-top: 4px;
  width: 150px;
}

.oppdaterDato {
  padding-top: 30px;
}

.skiller {
  border-top: 1px solid var(--navds-global-color-gray-400);
  padding-right: 30px;
}

.tomDato {
  margin-top: 4px;
}

.marginBtn {
  margin-left: -13px;
}
