.halfColumn {
  flex: 0 0 50%;
}

.smallColumn {
  flex: 0 0 20%;
}

.tilretteleggingTittel {
  font-size: 15px;
  font-weight: bold;
}

.removeButtonMargin {
  margin-top: 20px;
}

.buttonMargin {
  margin-left: -10px;
  margin-top: 39px;
}

.buttonMarginReadOnly {
  margin-top: 27px;
}

.stillingsprosentTekst {
  width: 100px;
}

.utbetalingsgradTekst {
  width: 150px;
}

.error {
  color: var(--a-red-600);
}

.enabletImage {
  cursor: pointer;
  margin-left: -10px;
  margin-top: 38px;
}

.colMargin {
  margin-right: 20px;
}
