.panelPadding {
  padding: 20px;
}

.skjulFagsakInfo {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.visFagsakInfo {
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}

