.alertStripe {
  max-width: 40rem;
}

.hjelpetekst {
  width: 600px;
}

.hjelpetekstInnhold {
  background-color: #d8f9ff;
  border: 1px solid #66cbec;
}

.svg {
  color: var(--a-blue-400);
  height: 25px;
  margin-top: -5px;
  width: 25px;
}
