.radioHeader {
  padding-right: 0;
}

.alertStripe {
  max-width: 40rem;
}

.image {
  margin-top: -14px;
}

.hjelpetekst {
  width: 600px;
}

.hjelpetekstInnhold {
  background-color: #d8f9ff;
  border: 1px solid #66cbec;
}
