.fomDato {
  margin-top: 4px;
  width: 150px;
}

.skiller {
  border-top: 1px solid var(--navds-global-color-gray-400);
  padding-right: 30px;
}

.tomDato {
  margin-top: 4px;
}

.marginBtn {
  margin-left: -1px;
}

.redigerKnapp {
  margin-top: -3px;
}
