.approvalItem {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  margin-bottom: 16px;
  white-space: pre-wrap;
}

.approvalItemContainer {
  min-height: 70px;
}

.aksjonspunktTextContainer {
  margin-bottom: 12px;
  margin-top: 12px;
}

.resultatFraGodkjenningTextContainer {
  margin-bottom: 24px;
}

.lenke {
  color: #0067c5;
}

.checkmarkIcon {
  color: var(--a-green-500);
  height: 35px;
  width: 35px;
}

.xmark {
  color: var(--a-red-600);
  height: 30px;
  width: 30px;
}

.textMarginCheck {
  margin-top: 7px;
}

.textMarginXmark {
  margin-top: 4px;
}
