.header {
  background-color: var(--ax-bg-neutral-moderate-hover);
  padding: 16px;
}

.editIcon {
  color: var(--ax-accent-500);
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.editIconReadonly {
  cursor: pointer;
  height: 20px;
  width: 20px;
}
