.hjelpetekst {
  width: 600px;
}

.image {
  margin-top: -15px;
}

.hjelpetekstInnhold {
  background-color: #d8f9ff;
  border: 1px solid #66cbec;
}

.exclamationmarkIcon {
  color: var(--ax-warning-700);
  height: 30px;
  margin-top: 5px;
  width: 30px;
}

.checkmarkIcon {
  color: var(--ax-success-600);
  height: 30px;
  margin-top: 5px;
  width: 30px;
}
