.hjelpetekst {
  width: 600px;
}

.image {
  margin-top: -15px;
}

.hjelpetekstInnhold {
  background-color: var(--ax-bg-accent-moderate);
  border: 1px solid var(--ax-bg-accent-strong);
}

.exclamationmarkIcon {
  color: var(--ax-warning-700);
  height: 30px;
  margin-top: 5px;
  width: 30px;
}

.checkmarkIcon {
  color: var(--ax-success-600);
  height: 30px;
  margin-top: 5px;
  width: 30px;
}
