.gridContainer {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}

.leftColumn {
  flex-grow: 1;
  overflow: hidden;
}

.leftColumnContainer {
  display: flex;
  flex-direction: row;
}

.leftColumnVisittContent {
  flex: 98%;
}

.leftColumnSideMenyKnapp {
  flex: 2%;
}

.rightColumn {
  width: 45rem;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19), width 0.3s ease;
}

.rightColumn.hide {
  width: 0;
  visibility: hidden;
  opacity: 0;
}
.rightColumn.show {
  width: 45rem;
  opacity: 1;
}

@media all and (max-width: 1409px) {
  .sidePanelKnapp {
    display: none;
  }
}

@media all and (max-width: 1569px) {
  .rightColumn {
    width: 35rem;
  }
}

@media all and (max-width: 1408px) {
  .gridContainer {
    display: flex;
    flex-flow: row wrap;
  }
  .rightColumn {
    margin-left: 0;
    width: 100%;
  }
}

@media all and (min-width: 1409px) {
  .rightColumn {
    border-left-color: var(--a-gray-300);
    border-left-style: solid;
    border-left-width: 1px;
  }
}

@media all and (max-width: 1408px) {
  .rightColumn {
    border-top-color: var(--a-gray-300);
    border-top-style: solid;
    border-top-width: 1px;
  }
}
