.merkePanel {
  align-items: flex-end;
  display: flex;
}

.merkePanel > div {
  margin: 0 5px;
}

.merkePanel > div:last-child {
  margin-right: 0;
}

.navMerke {
  background-color: var(--navds-global-color-nav-red);
  color: var(--navds-global-color-white);
  min-width: 80px;
}

.merkeDiskresjonskoder {
  min-width: 70px;
}

.dodMerke {
  background-color: var(--navds-global-color-gray-900);
  color: var(--navds-global-color-white);
}

.vergeMerke {
  align-items: baseline;
  display: flex;
  min-width: 80px;
}

.vergeMerke .vergeIcon {
  background: url('@fpsak-frontend/assets/images/verge.svg');
  display: inline-block;
  height: 15px;
  width: 20px;
}
