.summaryTitle {
  font-weight: bold;
}

.infoSummary {
  background-color: var(--ax-neutral-200);
  height: auto;
  max-width: 500px;
  padding: 10px 20px 10px;
  top: 0;
}

.ingenPerioder {
  font-weight: bold;
}

.number {
  padding-left: 15px;
}

.resultName {
  width: 100px;
}
