.godkjentImage {
  color: var(--ax-bg-success-strong);
  height: 25px;
  width: 25px;
}

.avslattImage {
  color: var(--ax-danger-400);
  height: 25px;
  width: 25px;
}

.margin {
  margin-right: 5px;
}

.fix {
  display: flex;
}
