.body {
  width: 100%;
}

.hjelpetekst {
  width: 600px;
}

.firstCol {
  width: 30%;
}

.secCol {
  width: 25%;
}

.thirdCol {
  width: 25%;
}

.fourthCol {
  width: 20%;
}

.topPadding {
  padding-top: 2px;
}

.image {
  height: 25px;
  margin-top: -3px;
  width: 25px;
}

.hjelpetekst {
  width: 600px;
}

.hjelpetekstInnhold {
  border: 1px solid #66cbec;
  background-color: #d8f9ff;
}
