.body {
  width: 100%;
}

.hjelpetekst {
  width: 600px;
}

.firstCol {
  width: 30%;
}

.secCol {
  width: 25%;
}

.thirdCol {
  width: 25%;
}

.fourthCol {
  width: 20%;
}

.topPadding {
  padding-top: 2px;
}
