.pushRight {
  margin-left: auto;
}

.header {
  background-color: var(--a-gray-50);
  border-bottom: solid var(--a-gray-300) 2px;
  padding: 20px;
}

.circle {
  background: var(--a-gray-200);
  border-radius: 50%;
  color: #000;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 25px;
}

.overflow {
  min-height: 250px;
  overflow-y: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.marginFilter {
  margin-right: 30px;
}
