.ikon {
  height: 32px;
  width: 32px;
}

.clipBoard > div > button {
  padding: 0px;
}

.kopiTekst {
  margin-top: 4px;
}

.kolBredde {
  width: 40%;
}

@media all and (max-width: 1500px) {
  .kolBredde {
    width: 50%;
  }
}
