.dokContainer {
  background-color: var(--a-blue-50);
  margin-bottom: 8px;
  padding: 16px;
  width: 100%;
  display: flex;
}

.dokumentTittel {
  margin-bottom: auto;
  margin-right: 16px;
  margin-top: auto;
  width: 90%;
}

.knappKol {
  width: 10%;
}

.newTabIcon {
  color: var(--a-blue-600);
  height: 32px;
  width: 32px;
}

.editButton {
  color: var(--a-blue-600);
  height: 20px;
  width: 20px;
}

.editButton:last-child {
  margin-left: 16px;
}

.checkbox {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.input {
  display: flex;
  width: 600px;
}
