.dokContainer {
  background-color: var(--ax-accent-100);
  padding: 16px;
}

.externalLinkIcon {
  height: 32px;
  width: 32px;
}

.editButton {
  height: 20px;
  width: 20px;
}

.input {
  width: 600px;
}
