.dokContainer {
  background-color: var(--a-blue-50);
  display: flex;
  margin-bottom: 8px;
  padding: 16px;
  width: 100%;
}

.dokumentTittel {
  display: flex;
  margin-bottom: auto;
  margin-right: 50px;
  margin-top: auto;
  width: 90%;
  
}

.newTabIcon {
  color: var(--a-blue-600);
  height: 32px;
  width: 32px;
}

.editButton {
  color: var(--a-blue-600);
  height: 20px;
  width: 20px;
}

.editButton:last-child {
  margin-left: 16px;
}

.selectField {
  padding-bottom: 8px;
  width: 100%;
}

.dokLenke {
  min-width: 40px;
  width: 10%;
}

.dokLenke>button {
  padding: 8px;
}

.input {
  display: flex;
  width: 600px;
}

@media all and (max-width: 1350px) {
  .selectField {
    width: 50%;
  }
}
