.sakContainer {
  background-color: var(--a-blue-50);
  display: flex;
  margin-bottom: 8px;
  padding: 16px;
  width: 100%;
}

.sakDataFelt {
  width: 65%;
}

.etikettFelt {
  margin-bottom: auto;
  margin-top: auto;
  width: 25%;
}

.faneFelt {
  margin-bottom: auto;
  margin-top: auto;
  width: 10%;
}

.newTabIcon {
  height: 32px;
  width: 32px;
}

.clipBoard > div > button {
  padding: 0;
}

.sakLenke>button {
  padding: 8px;
}

.datoRad {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
}

.datoFelt {
  margin-top: 0;
  padding-left: 0;
}

@media all and (max-width: 1500px) {
  .datoRad {
    display: inline;
  }
  .datoFelt {
    margin-top: 16px;
  }
  .sakDataFelt {
    width: 50%;
  }
  .etikettFelt {
    width: 40%;
  }
}