.dataDisplayContainer {
  border: 1px solid darkgray;
  border-radius: 4px;
  padding: 8px;
}

.timeLineDataContainer {
  padding: 8px;
}

.image {
  margin-right: 6px;
}

.colWidth {
  width: 50%;
}

.godkjent {
  background-color: var(--a-green-200);
  width: 50%;
}

.avvist {
  background-color: var(--a-red-200);
  width: 50%;
}
