
.dokContainer {
  background-color: var(--a-blue-50);
  display: flex;
  margin-bottom: 8px;
  padding: 16px;
  width: 100%;
}

.dokumentTittel {
  padding-top: 10px;
  width: 90%;
}

.newTabIcon {
  color: var(--a-blue-600);
  height: 32px;
  width: 32px;
}