.brukerBilde {
  padding-top: 8px;
}

.avsenderBilde {
  height: 32px;
  width: 32px;
}

.brukerAvsenderTittel {
  width: 20%;
}

.brukerAvsenderIkon {
  min-width: 50px;
  width: 3%;
}

.brukerAvsenderInnhold {
  width: 17%;
}

@media all and (max-width: 1500px) {
  .brukerAvsenderInnhold {
    width: 30%;
  }

  .brukerAvsenderTittel {
    width: 40%;
  }
}
