.days {
  color: var(--a-red-600);
}

.hyphen {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.hyphen > li:before {
  content: '- ';
}

.panel {
  border: 1px solid var(--a-gray-100);
  border-radius: 4px;
  padding: 16px;
}
