.iconBackground {
  background-color: var(--ax-bg-neutral-moderate-hoverA);
  border-radius: 9999px;
  height: 30px;
  width: 30px;
}

.sectorChatIcon {
  color: var(--ax-text-neutral-subtle);
  height: 30px;
  width: 30px;
}
