.sakslisteSelect {
  min-width: 250px;
}

.container {
  background-color: var(--ax-bg-neutral-soft);
  border-bottom: 1px solid var(--ax-border-neutral-subtle);
  padding: 16px;
}

:global(.dark) .container {
  border-bottom: 1px solid var(--ax-border-neutral-strong);
}

.grayIcon {
  color: var(--ax-text-neutral-decoration);
  font-size: 1.5rem;
}

.køFilterBoks {
  max-height: 500px;
  overflow: hidden;
  transition: max-height 1s;
}
