.koInput {
  width: 250px;
}

.container {
  background-color: var(--ax-bg-neutral-soft);
  border-bottom: 1px solid var(--ax-neutral-400);
  padding: 16px;
}

:global(.dark) .container {
  border-bottom: 1px solid var(--ax-neutral-700);
}

.grayIcon {
  color: var(--ax-neutral-600);
  font-size: 1.5rem;
}

.hidden {
  max-height: 0;
  overflow: hidden;
}

.active {
  max-height: 500px;
  overflow: hidden;
  transition: max-height 1s;
}
