.container {
  background-color: var(--ax-bg-neutral-soft);
  border-bottom: 1px solid var(--panel-border-color);
  padding: 16px;
}

.køFilterBoks {
  max-height: 500px;
  overflow: hidden;
  transition: max-height 1s;
}
