.container {
  background-color: var(--ax-neutral-400);
  border-bottom: 1px solid var(--ax-border-neutral-subtle);
  padding-right: 8px;
}

:global(.dark) .container {
  border-bottom: 1px solid var(--ax-neutral-700);
}
