.header {
  background-color: var(--a-grayalpha-100);
  border-bottom: solid 2px var(--a-grayalpha-200);
  padding-bottom: 24px;
  padding-left: 40px;
  padding-top: 24px;
  width: 100%;
}

.link {
  cursor: pointer;
}

.tittelKol {
  width: 90%;
}

.avhukingKol {
  width: 10%;
}

@media all and (max-width: 1600px) {
  .tittelKol {
    width: 70%;
  }

  .avhukingKol {
    width: 30%;
  }
}
