.orangeDetailsPeriod {
  background-color: #ffeccc;
  padding: 12px;
}

.greenDetailsPeriod {
  background-color: #ccf1d6;
  padding: 12px;
}

.redDetailsPeriod {
  background-color: mix(#c30000, #fff, 20%);
  padding: 12px;
}

.suffix {
  padding-left: 0;
  padding-top: 35px;
}
