.header {
  background-color: var(--a-surface-neutral-subtle-hover);
  padding: 16px;
}

.editIcon {
  color: var(--a-blue-400);
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.editIconReadonly {
  cursor: pointer;
  height: 20px;
  width: 20px;
}
