.steg {
  background-color: var(--ax-bg-default);
  border-top: 1px solid var(--ax-neutral-400);
  box-shadow: -4px 1px 6px 1px var(--ax-border-neutral-subtle);
  position: relative;
  width: 100%;
}

:global(.dark) .steg {
  border-top: 1px solid var(--ax-neutral-700);
  box-shadow: -4px 1px 6px 1px var(--ax-bg-neutral-strong);
}

.steg.skalSkjulePanel {
  display: none;
}
