.starImage {
  color: var(--ax-warning-600);
  height: 20px;
  width: 20px;
}
.chevronImage {
  color: var(--ax-accent-600);
  height: 30px;
  margin-top: -4px;
  width: 30px;
}
.pushRight {
  margin-left: auto;
}
.pushRightCorner {
  margin-left: auto;
  margin-top: auto;
}
.line {
  border: 0;
  border-top: 1px solid var(--ax-neutral-200);
  height: 1px;
}
.arsakPadding {
  padding: 0 0 0 8px;
}
.timePadding {
  padding-left: 10px;
}
.inline {
  display: inline;
}
.firstColumnWidth {
  width: 150px;
}
