.circle {
  background: var(--ax-neutral-400);
  border-radius: 50%;
  color: var(--ax-bg-input);
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 25px;
}

.container {
  display: flex;
  flex-direction: column;
}

.thechats {
  min-height: 250px;
  overflow-y: auto;
  padding-left: 25px;
}

.bubble {
  background-color: var(--ax-neutral-100);
  width: 600px;
}

.bubbleSelf {
  background-color: var(--ax-accent-100);
  width: 600px;
}

@media all and (max-width: 1569px) {
  .bubble {
    margin-right: 25px;
    width: 480px;
  }

  .bubbleSelf {
    margin-right: 25px;
    width: 480px;
  }
}

.form {
  background-color: var(--ax-neutral-100);
  border-top: 2px solid var(--ax-neutral-400A);
  margin-top: auto;
  padding: 16px;
}

.alert {
  margin-top: auto;
  padding-bottom: 16px;
}

.marginTop {
  margin-top: 16px;
}

.width {
  width: 600px;
}

.ingen {
  color: var(--ax-neutral-700);
}

.textAlign {
  margin: auto;
}
