.pil {
  margin-left: 5px;
}

.blyant {
  margin-right: 5px;
}

.blyantDisablet {
  color: var(--a-gray-100);
  height: 20px;
  margin-right: 5px;
  width: 20px;
}

.status {
  height: 20px;
  width: 20px;
}

.innvilgetImage {
  color: var(--a-surface-success);
  height: 25px;
  width: 25px;
}

.avslattImage {
  color: var(--a-red-500);
  height: 25px;
  width: 25px;
}

.disabletLink {
  color: var(--a-gray-100);
  display: inline;
}

.space {
  margin-right: 50px;
}
