.dodEtikett {
  background-color: var(--navds-global-color-gray-900);
  color: var(--navds-global-color-white);
}

.defaultBostedSoker {
  margin-bottom: 20px;
}

.etikettMargin {
  margin-bottom: 5px;
}

.paddingBottom {
  padding-bottom: 7px;
}
