.dodEtikett {
  background-color: var(--a-gray-900);
  color: var(--a-white);
}
.col {
  width: 50%;
}

@media screen and (-ms-high-contrast: active),screen and (-ms-high-contrast: none) {
  .ieFlex [class^='flexRow'] {
    min-width: 300px;
 }
}
