.header {
  background-color: var(--a-grayalpha-100);
  border-bottom: solid 2px var(--a-grayalpha-200);
  padding-bottom: 24px;
  padding-left: 40px;
  padding-top: 24px;
  width: 100%;
}
.link {
  cursor: pointer;
}
.tittelKol {
  width: 5%;
  min-width: 150px;
}
.søkeKol {
  width: 90%;
}

@media all and (max-width: 1600px) {
  .tittelKol {
    width: 13%;
    min-width: 150px;
  }
  .søkeKol {
    width: 70%;
  }
}
