.behandlingCircleIngen {
  color: var(--ax-border-neutral-subtle);
}

.behandlingCircleDenne {
  color: var(--ax-success-500);
}

.behandlingCircleAndre {
  color: var(--ax-border-neutral-subtle);
}

.container {
  background: rgba(18, 43, 68, 0.08);
  border-radius: var(--ax-radius-4);
  margin: -16px -8px -16px -8px;
  padding: var(--ax-space-24) var(--ax-space-16);
}

.ingenInntektsmeldinger {
  color: var(--ax-text-neutral-subtle);

  svg {
    height: 24px;
    width: 24px;
  }
}

ul {
  margin: 0;
}
