.grayout {
  color: var(--ax-text-neutral-decoration);
}

.container {
  border-bottom: 1px solid var(--ax-neutral-400);
  padding-bottom: 50px;
}

:global(.dark) .container {
  border-bottom: 1px solid var(--ax-neutral-700);
}
