.image {
  color: var(--ax-accent-700);
  height: 30px;
  margin-bottom: -10px;
  margin-top: -10px;
  width: 30px;
}

.fadeIn {
  animation: fadeInRow 1.5s ease;
}

@keyframes fadeInRow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
