.divider {
  margin: 5px 0;
  text-align: left;
  width: 75%;
}

.fieldsList {
  margin-left: 16px;
}

.addCircleIcon,
.imageText {
  color: var(--a-blue-500);
  cursor: pointer;
}

.customLink {
  cursor: pointer;
  display: inline-block;
}

.removeButton {
  color: var(--a-red-500);
  cursor: pointer;
  margin-top: 4px;
}

.customLink {
  color: var(--a-blue-500);
}
