.dokument {
  background: white;
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);
  display: block;
  margin: 20px auto 20px;
  padding-top: 50px;
}

.logo {
  margin: 0 auto;
  max-width: 650px;
  padding-bottom: 30px;
}

.header {
  margin: 0 auto;
  max-width: 650px;
}

.footer {
  margin: 0 auto;
  max-width: 650px;
  padding-bottom: 50px;
}

.redigerbartInnhold {
  border-left: 15px solid var(--ax-warning-400);
  border-right: 15px solid var(--ax-warning-400);
  box-sizing: content-box;
  margin-bottom: 40px;
  margin-top: 40px;
}
