.orangeDetailsPeriod {
  background-color: var(--a-orange-100);
  padding: 12px;
}

.greenDetailsPeriod {
  background-color: var(--a-green-100);
  padding: 12px;
}

.redDetailsPeriod {
  background-color: var(--a-red-100);
  padding: 12px;
}

.suffix {
  padding-left: 0;
  padding-top: 35px;
}

.bredde {
  width: 90px;
}

.select {
  width: 400px;
}

.numberFieldLength {
  width: 70px;
}
