.splitPeriodImage {
  cursor: pointer;
  margin-left: 12px;
  margin-right: 4px;
  padding-bottom: 4px;
}

.splitPeriodPosition {
  margin-left: -30px;
}

.panel {
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  padding: 16px;
}

.margin {
  margin-right: 5px;
}

.space {
  margin-bottom: 80px;
}
