.card {
  background-color: var(--ax-neutral-200A);
  border-collapse: var(--ax-neutral-300A);
}
.cardHeader {
  background-color: var(--ax-neutral-300);
}

.padding {
  padding-top: 10px;
}

.image {
  height: 25px;
  width: 25px;
}
