.periodeContainer {
  border: 1px solid var(--a-gray-100);
  border-radius: 4px;
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.periodeType {
  background-color: var(--a-gray-100);
  border-right: 1px solid var(--a-gray-100);
  flex-basis: 24%;
  max-width: 210px;
  min-width: 185px;
  padding: 15px 10px;
}

.periodeInnhold {
  flex-grow: 1;
  padding: 15px 10px;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
}

.oppdaterMargin {
  margin-right: 10px;
}

.suffix {
  align-self: center;
  margin-left: -8px;
  padding-top: 8px;
}

.suffixAligAuto {
  align-self: auto;
  margin-left: -8px;
  padding-top: 8px;
}

.textAlignRight {
  text-align: right;
  width: 82px;
}

.alignRightHorizontalBottom {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
}

.alignRightHorizontalBottom > div:first-child {
  margin-right: 16px;
}

.textAreaStyle {
  min-width: 300px;
  width: 100%;
}

@media all and (max-width: 1100px) {
  .typeUttakStyle {
    width: 100%;
  }
}

.fieldHorizontal {
  display: flex;
  margin-left: 8px;
}

.fieldHorizontal label {
  align-self: flex-end;
  margin-bottom: 1px;
  margin-right: 16px;
}

.fieldHorizontal label span {
  font-size: 1rem;
}
