.periodeContainer {
  background-color: var(--a-gray-50);
  border: 1px solid var(--a-gray-100);
  border-radius: 4px;
  display: flex;
  margin-top: 12px;
  padding-left: 5px;
  width: 100%;
}

.oppholdPeriodeContainer {
  background-color: var(--a-white);
  border: 1px solid var(--a-gray-100);
  border-radius: 4px;
  display: flex;
  margin-top: 12px;
  padding-left: 5px;
  width: 100%;
}

.periodeIconWrapper {
  display: flex;
  margin-top: 10px;
}

.periodeIconWrapper :first-child {
  padding-right: 10px;
}

.fullWidth {
  width: 100%;
}

.spaceBetween {
  justify-content: space-between;
}

.inputSuffix {
  justify-self: self-start;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
}

.active {
  border-left: solid 5px var(--a-orange-500);
  padding-left: 0;
}

.avvik.hasAvvik {
  color: var(--a-nav-red);
}

.avvikInfoMargin {
  margin-top: 16px;
}

.divider {
  display: table;
  white-space: nowrap;
  width: 100%;
}

.divider:before,
.divider:after {
  border-top: 2px dashed var(--a-gray-100);
  content: '';
  display: table-cell;
  position: relative;
  top: 0.6em;
  width: 50%;
}

.divider:before {
  right: 1.5%;
}

.divider:after {
  left: 1.5%;
}
