.container {
  min-width: 100%;
  width: 100%;
}

.columnMarginMedGodkjenning {
  margin-left: 10px;
  margin-right: 10px;
}

.columnMargin {
  margin-left: 35px;
  margin-right: 35px;
}

.meny {
  width: 100%;
}
