.image {
  background-size: contain;
  border-radius: 50%;
  flex-shrink: 0;
  height: 45px;
  margin-top: 2px;
  width: 45px;
}
.margin {
  margin-bottom: 15px;
  padding-right: 15px;
}
.marginForste {
  margin-bottom: 15px;
  padding-right: 15px;
  margin-top: 15px;
}
.width {
  width: 300px;
}
