.snakkeboble {
  display: flex;
  margin-bottom: 16px;
  white-space: pre-line;
}

.snakkeboble--hoyre {
  flex-direction: row-reverse;
  margin-right: 16px;
}

.snakkeboble--venstre {
  flex-direction: row;
}

.snakkeboble__snakkeboble-pil-container {
  margin-top: 1rem;
  overflow: hidden;
  position: relative;
  width: 1.2rem;
}

.snakkeboble__snakkebole-pil {
  background: var(--a-white);
  height: 1rem;
  position: absolute;
  top: 1px;
  transform: rotate(54deg) skew(17deg);
  width: 1rem;
}

.snakkeboble__snakkebole-pil--hoyre {
  box-shadow: 0 1px 4px 1px var(--a-gray-100);
  right: 72%;
}

.snakkeboble__snakkebole-pil--venstre {
  box-shadow: 0 2px 4px -1px var(--a-gray-100);
  left: 72%;
}

.snakkeboble__snakkebole-pil--hoyre--saksbehandler {
  background-color: var(--a-purple-100);
  box-shadow: 0 1px 4px 1px var(--a-gray-100);
  right: 72%;
}

.snakkeboble__snakkebole-pil--hoyre--beslutter {
  background-color: var(--a-green-100);
  box-shadow: 0 1px 4px 1px var(--a-gray-100);
  right: 72%;
}

.snakkeboble__snakkebole-pil--hoyre--losningen {
  background-color: var(--a-gray-100);
  box-shadow: 0 1px 4px 1px var(--a-gray-100);
  right: 72%;
}

.snakkeboble__snakkebole-pil--venstre--bruker {
  background-color: var(--a-orange-100);
  box-shadow: 0 2px 4px -1px var(--a-gray-100);
  left: 72%;
}

.snakkeboble__snakkebole-pil--venstre--ekstern {
  background-color: var(--a-lightblue-100);
  box-shadow: 0 2px 4px -1px var(--a-gray-100);
  left: 72%;
}

.image {
  background-size: contain;
  border-radius: 50%;
  flex-shrink: 0;
  height: 45px;
  margin-top: 2px;
  width: 45px;
}

.hide {
  display: none;
}

.show {
  display: inline;
}

.snakkeboble-panel {
  box-shadow: 0 2px 4px 0 var(--a-gray-100);
  display: inline-flex;
  flex-direction: column;
  padding: 0.5rem 1rem 1rem;
}

.hoyrejustert-tekst {
  text-align: right;
}

.snakkeboble-width {
  border-radius: 4px;
  display: block;
  flex: 0 1 350px;
  padding: 1rem 1rem 1rem 1rem;
  width: 20rem;
}

.snakkeboble__snakkebole-panel--saksbehandler {
  background-color: var(--a-purple-100);
  border-radius: 4px;
  display: block;
  flex: 0 1 350px;
  padding: 1rem 1rem 1rem 1rem;
  width: 20rem;
}

.snakkeboble__snakkebole-panel--beslutter {
  background-color: var(--a-green-100);
  border-radius: 4px;
  display: block;
  flex: 0 1 350px;
  padding: 1rem 1rem 1rem 1rem;
  width: 20rem;
}

.snakkeboble__snakkebole-panel--losningen {
  background-color: var(--a-gray-100);
  border-radius: 4px;
  display: block;
  flex: 0 1 350px;
  padding: 1rem 1rem 1rem 1rem;
  width: 20rem;
}

.snakkeboble__snakkebole-panel--bruker {
  background-color: var(--a-orange-100);
  border-radius: 4px;
  display: block;
  flex: 0 1 350px;
  padding: 1rem 1rem 1rem 1rem;
  width: 20rem;
}

.snakkeboble__snakkebole-panel--ekstern {
  background-color: var(--a-lightblue-100);
  border-radius: 4px;
  display: block;
  flex: 0 1 350px;
  padding: 1rem 1rem 1rem 1rem;
  width: 20rem;
}
