.imageSaksbehandler {
  color: var(--a-purple-400);
  height: 45px;
  width: 45px;
}
.imageMann {
  color: var(--a-blue-300);
  height: 45px;
  width: 45px;
}
.imageKvinne {
  color: var(--a-red-300);
  height: 45px;
  width: 45px;
}
.imageBeslutter {
  color: var(--a-green-600);
  height: 45px;
  width: 45px;
}
.imageArbeidsgiver {
  color: var(--a-lightblue-600);
  height: 45px;
  width: 45px;
}
.imageVedtak {
  height: 45px;
  width: 45px;
}

.margin {
  margin-bottom: 15px;
  padding-right: 15px;
}
.marginForste {
  margin-bottom: 15px;
  margin-top: 15px;
  padding-right: 15px;
}
.bubbleSaksbehandler {
  --ac-chat-bubble-bg: var(--a-purple-100);

  max-width: 500px;
  min-width: 300px;
}
.bubbleBeslutter {
  --ac-chat-bubble-bg: var(--a-green-100);

  max-width: 500px;
  min-width: 300px;
}
.bubbleVedtakslosningen {
  --ac-chat-bubble-bg: var(--a-gray-100);

  max-width: 500px;
  min-width: 300px;
}
.bubbleSoker {
  --ac-chat-bubble-bg: var(--a-orange-100);

  max-width: 500px;
  min-width: 300px;
}
.bubbleArbeidsgiver {
  --ac-chat-bubble-bg: var(--a-lightblue-100);

  max-width: 500px;
  min-width: 300px;
}
