.image {
  background-size: contain;
  border-radius: 50%;
  flex-shrink: 0;
  height: 45px;
  margin-top: 2px;
  width: 45px;
}

.margin {
  margin-bottom: 15px;
}

.width {
  :global(.navds-chat__bubble) {
    width: 300px;
  }
}
