.container {
  display: flex;
  height: 100%;
  align-items: flex-end;
  overflow: hidden;
  gap: var(--ax-space-8);
}

.container svg {
  transform: translateY(2px);
}

.forsteAdvent svg:nth-child(1) {
  transform: translateY(4px);
}

.andreAdvent svg:nth-child(1) {
  transform: translateY(8px);
}

.andreAdvent svg:nth-child(2) {
  transform: translateY(4px);
}

.tredjeAdvent svg:nth-child(1) {
  transform: translateY(12px);
}

.tredjeAdvent svg:nth-child(2) {
  transform: translateY(8px);
}

.tredjeAdvent svg:nth-child(3) {
  transform: translateY(4px);
}

.fjerdeAdvent svg:nth-child(1) {
  transform: translateY(16px);
}

.fjerdeAdvent svg:nth-child(2) {
  transform: translateY(12px);
}

.fjerdeAdvent svg:nth-child(3) {
  transform: translateY(8px);
}

.fjerdeAdvent svg:nth-child(4) {
  transform: translateY(4px);
}
