.checkboxCol {
  width: 30px;
}

.linkCol {
  width: 250px;
}

.imageInn {
  color: var(--a-surface-success);
  height: 30px;
  margin-left: 10px;
  width: 30px;
}

.imageSend {
  color: var(--a-orange-500);
  height: 30px;
  margin-left: 10px;
  width: 30px;
}
.imageIntern {
  color: var(--a-blue-400);
  height: 30px;
  margin-left: 10px;
  width: 30px;
}

.noDocuments {
  background-color: white;
  margin-top: -15px;
  padding: 12px;
}

.hidden {
  visibility: hidden;
}

.table {
  width: 610px;
}
