.grayout {
  color: var(--ax-neutral-600);
}

.headerPadding {
  padding-left: 12px;
}

.tabell {
  border-bottom: 1px solid var(--ax-neutral-400);
  padding-bottom: 50px;
}

:global(.dark) .tabell {
  border-bottom: 1px solid var(--ax-neutral-700);
}
