.card {
  --ac-expansioncard-header-bg: var(--global-gray-200);
  --ac-expansioncard-header-open-bg: var(--a-grayalpha-200);
  --ac-expansioncard-bg: var(--a-grayalpha-100);
  --ac-expansioncard-border-radius: 0;
  --ac-expansioncard-border-color: var(--a-grayalpha-200);
}

.tagMargin {
  margin-left: 30px;
}

.idMargin {
  margin-top: 5px;
}

.padding {
  padding-top: 10px;
}

.image {
  height: 25px;
  width: 25px;
}
