name: Build, push and deploy Fpsak-frontend

on:
  push:
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - 'CODEOWNERS'
    branches:
      - master
env:

  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GITHUB_USERNAME: x-access-token
  IMAGE_BASE: docker.pkg.github.com/${{ github.repository }}/fp-frontend

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Lukk deployment-issues
        uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.issues.listForRepo({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'open',
              labels: ['bygg']
            }).then(response => {
              response.data.forEach(issue => {
                github.issues.update({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: issue.number,
                  state: 'closed'
                });
              });
            });

      - name: Sjekk ut kode
        uses: actions/checkout@v2
      - run:  git fetch --prune --unshallow

      - name: Hent tag
        run: echo "::set-env name=TAG::1.1_$(git log -1 --pretty='%ad' --date=format:'%Y.%m.%d.%H%M%S')-$(echo $GITHUB_SHA | cut -c1-7)"

      - name: Sette opp Node
        uses: actions/setup-node@v2.1.1
        with:
          node-version: 12.x

      - name: Get yarn cache
        id: yarn-cache
        run: |
          echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache node modules
        uses: actions/cache@v2.1.1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}

      - name: Run yarn install
        run: yarn install --ignore-optional --no-progress --frozen-lockfile

      - name: Run linting and tests
        run: yarn test && yarn less:lint && yarn ts-check

      - name: Build
        run: |
          echo "::set-env name=IMAGE::$IMAGE_BASE:$TAG"
          yarn build

      - name: Bygg, tag og push Docker image
        run: |
          ## docker -v
          ## docker pull nginx:1.17.8-alpine
          docker build --pull --tag ${IMAGE} --tag ${IMAGE_BASE}:latest .
          echo  ${GITHUB_TOKEN} | docker login docker.pkg.github.com -u ${GITHUB_USERNAME} --password-stdin
          docker push ${IMAGE_BASE}

      - name: Opprett issue, trigg deploy til dev-fss
        if: success()
        uses: actions/github-script@v3
        with:
          github-token: ${{secrets.GH_P_TOKEN}}
          script: |
              github.issues.create( {
                owner: context.issue.owner,
                repo: context.issue.repo,
                labels: ['bygg'],
                title: 'Deploy av ${{ env.TAG }}'})
              .then(response => {
                      const issue = { owner: context.issue.owner,
                      repo: context.issue.repo,
                      issue_number: response.data.number }
                     github.issues.createComment({...issue,
                            title: 'Deploy av ${{ env.TAG }}',
                            body: '/promote dev-fss'})
               });
