name: Build app
on:
  workflow_call:
    secrets:
      READER_TOKEN:
        description: 'A token passed from the caller workflow'
        required: true
      SENTRY_AUTH_TOKEN:
        description: 'A token passed from the caller workflow'
        required: true
    inputs:
      runs-on:
        required: false
        type: string
        description: Miljø versjon som skal brukes til bygg.
        default: 'ubuntu-latest'
      build-image:
        required: false
        type: boolean
        description: Skal docker image bygges?
        default: true
      push-image:
        required: false
        type: boolean
        description: Skal docker image pushes?
        default: false
      branch:
        required: false
        type: string
        description: Alternativ branch å bygge fra
      image_suffix:
        required: false
        type: string
        description: 'The suffix of the image to be deployed'
        default: ''
      app:
        required: false
        type: string
        description: App som skal bygges
    outputs:
      build-version:
        description: 'Build version'
        value: ${{ jobs.build-and-test.outputs.build-version }}
jobs:
  build-and-test:
    name: Build and test
    permissions:
      packages: write
      id-token: write
    runs-on: ${{ (github.event.pull_request.user.login == 'dependabot[bot]' && 'ubuntu-latest') || inputs.runs-on }}
    env:
      TZ: 'Europe/Oslo'
    outputs:
      build-version: ${{ steps.generate-build-version.outputs.build-version }}
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ (inputs.branch != '' && inputs.branch) || '' }}

      - uses: navikt/fp-gha-workflows/.github/actions/setup-yarnrc/action.yml@feature/introduser-global-yarn-npm-config-action
        with:
          npmAuthToken: ${{ secrets.READER_TOKEN }}

      - uses: actions/setup-node@v6
        with:
          node-version: 22.17.1
          cache: 'yarn'

      - name: Use turbo cache
        id: hent-cache
        uses: actions/cache/restore@v4
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.ref_name }}-${{ hashFiles('yarn.lock') }}-${{ inputs.app }}
          restore-keys: |
            turbo-${{ runner.os }}-master-${{ hashFiles('yarn.lock') }}-${{ inputs.app }}

      - name: Installere dependencies
        run: yarn install --immutable

      - name: Opprett SENTRY_RELEASE environment variable
        if: inputs.push-image
        id: sentry_release_key
        run: |
          echo "SENTRY_RELEASE=${{ inputs.app }}-$(git rev-parse --short HEAD)-$(date +%Y.%m.%d.%H%M%S)" >> $GITHUB_OUTPUT

      - name: Bygg og test
        run: yarn ci --filter=@navikt/${{ inputs.app }}
        env:
          VITE_SENTRY_RELEASE: ${{ steps.sentry_release_key.outputs.SENTRY_RELEASE }}

      - name: Opprett release med Sentry
        if: inputs.push-image
        run: yarn sentry-release
        env:
          SENTRY_RELEASE: ${{ steps.sentry_release_key.outputs.SENTRY_RELEASE }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

      - name: Bygg server
        run: cd ./server && yarn install --immutable && yarn build

      - name: Generate build version
        id: generate-build-version
        run: |
          echo "build-version=$(date +%Y.%m.%d.%H%M%S)-$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Print build version
        run: echo "Generated build-version is ${{ steps.generate-build-version.outputs.build-version }}"

      - name: Bygg og push docker image
        if: inputs.build-image
        uses: navikt/fp-gha-workflows/.github/actions/build-push-docker-image@main
        with:
          build-version: ${{ steps.generate-build-version.outputs.build-version }}
          push-image: ${{ inputs.push-image }}
          image_suffix: ${{ inputs.image_suffix }}
          build_args: |
            APP_NAME=${{ inputs.app }}

      - name: Archive code coverage results
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # ratchet:actions/upload-artifact@v4.6.2
        with:
          name: code-coverage-report
          path: coverage

      - name: Lagre alltid turbo cache
        if: always() && steps.hent-cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          key: ${{ steps.hent-cache.outputs.cache-primary-key }}
          path: .turbo
