name: 'Deploy storybook'

on:
  push:
    branches: ['master']
  workflow_dispatch:


jobs:
  deploy-storybook:
    permissions:
      contents: write
      pages: write
      id-token: write
    uses: navikt/fp-gha-workflows/.github/workflows/deploy-storybook1.yml@ny-storybook-deploy
    with:
      package-manager: yarn
      cache: turbo
    secrets:
      READER_TOKEN: ${{ secrets.READER_TOKEN }}
