name: 'Deploy storybook'

on:
  push:
    branches: ['master']
  workflow_dispatch:


jobs:
  deploy-storybook:
    permissions:
      contents: write
      pages: write
      id-token: write
    uses: navikt/fp-gha-workflows/.github/workflows/deploy-storybook1.yml@eecbab354ff8d2994f28fb838305450a0cb104b8
    with:
      package-manager: yarn
    secrets:
      READER_TOKEN: ${{ secrets.READER_TOKEN }}
