name: Valider pull request
on: [pull_request]
jobs:
  valid-pull-request:
    name: Valider pull request
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5

      - uses: navikt/fp-gha-workflows/.github/actions/setup-yarnrc@main
        with:
          npmAuthToken: ${{ secrets.READER_TOKEN }}

      - uses: actions/setup-node@v6
        with:
          node-version: 22.17.1
          cache: 'yarn'

      - name: Use turbo cache
        uses: actions/cache@v4
        with:
          path: ~/work/fp-frontend/fp-frontend/.turbo
          key: turbo-${{ runner.os }}-${{ github.ref_name }}-${{ hashFiles('yarn.lock') }}
          restore-keys: turbo-${{ runner.os }}-master-${{ hashFiles('yarn.lock') }}

      - name: Installere dependencies
        run: yarn install --immutable

      - name: Lint
        run: yarn lint

  knip-it:
    name: Kjør knip
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Run knip
        uses: navikt/fp-gha-workflows/.github/actions/knip-it@c2471fea25670e0832301963f94857ca9e45229f
        with:
          npmAuthToken: ${{ secrets.READER_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          package-manager: 'yarn'
          node-version: 22.17.1

  knip-it2:
    name: Kjør alternativ knip
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v5
      - uses: navikt/fp-gha-workflows/.github/actions/setup-yarnrc@main
        with:
          npmAuthToken: ${{ secrets.READER_TOKEN }}

      - uses: actions/setup-node@v6
        with:
          node-version: 22.17.1
          cache: 'yarn'

      - name: Installere dependencies
        run: yarn install --immutable
      - name: Kjør med annen reporter
        run: npx knip --reporter github-actions
